
#####################################################################
#   Fan Control
#####################################################################


## HOT END FAN
[heater_fan hotend_fan]
pin: ebb36:FAN1
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

## PART COOLING FAN
[fan]
pin: ebb36:FAN0
kick_start_time: 0.5
off_below: 0.10


## CONTROLLER FAN
[controller_fan my_controller_fan]
pin: FAN3
max_power: 1.0
shutdown_speed: 1
kick_start_time: 0.5

# ## NEVERMORE
[fan_generic BedFans]
pin: FAN0
max_power: 1.0
kick_start_time: 0.5 
#heater: heater_bed
#heater_temp: 75

