#######################
#### E_STEPPER.CFG ####
#######################

## EXTRUDER
[extruder]
step_pin: can0:E_STEP
dir_pin: !can0:E_DIR
enable_pin: !can0:E_EN
rotation_distance: 22.6789511   #Bondtech 5mm Drive Gears
gear_ratio: 50:10               #BMG Gear Ratio
microsteps: 32
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree

## EXTRUDER MOTOR
[tmc2209 extruder]
uart_pin: can0:E_UART
interpolate: false
run_current: 0.3
sense_resistor: 0.110
stealthchop_threshold: 0
