#########################
#### XY_STEPPERS.CFG ####
#########################

## X AXIS
[stepper_x]
step_pin: X_STEP
dir_pin: X_DIR
enable_pin: !X_EN
rotation_distance: 32
microsteps: 32
endstop_pin: tmc5160_stepper_x:virtual_endstop #PG6
position_min: 0
position_endstop: 173
position_max: 173
homing_speed: 32 #100   #Max 100
homing_retract_dist: 0 #5
homing_positive_dir: true

## X AXIS MOTOR
[tmc5160 stepper_x]
diag0_pin: ^!X_DIAG
cs_pin: X_CS
spi_bus: spi1
interpolate: false
run_current: 0.8
sense_resistor: 0.075
driver_SGT: 1
## Y AXIS
[stepper_y]
step_pin: Y_STEP
dir_pin: Y_DIR
enable_pin: !Y_EN
rotation_distance: 32
microsteps: 32
endstop_pin: tmc5160_stepper_y:virtual_endstop # PG9
position_min: 0
position_endstop: 193
position_max: 193
homing_speed: 32 #100  #Max 100
homing_retract_dist: 0 #5
homing_positive_dir: true


## Y AXIS MOTOR
[tmc5160 stepper_y]
diag0_pin: ^!Y_DIAG
cs_pin: Y_CS
spi_bus: spi1
interpolate: false
run_current: 0.8
sense_resistor: 0.075
driver_SGT: 1
